.DS_Store
.idea/
.config/aictl
.config/containers/
.config/crush/
.config/emacs/
.config/fish/fish_variables
.config/gatsby/
.config/gh/
.config/gh-dash/
.config/github-copilot/
.config/glab-cli/
.config/helix/
.config/tmux/plugins/
.config/zed/*.tmp*
.config/zed/embeddings
.config/zed/conversations
.config/zed/prompts
.config/zellij/plugins/
.config/omf/
.config/nushell/
.config/yarn
