.DS_Store
.idea/
.config/containers/
.config/emacs/
.config/gatsby/
.config/gh/
.config/github-copilot/
.config/helix/
.config/tmux/plugins/
.config/zed/*.tmp*
.config/zed/embeddings
.config/zed/conversations
.config/zed/prompts
.config/zellij/plugins/
