{
  "branches": [
    "main"
  ],
  "preset": "conventionalcommits",
  "plugins": [
    ["semantic-release-unsquash", {
      "commitAnalyzerConfig": {
        "preset": "conventionalcommits"
      },
      "notesGeneratorConfig": {
        "preset": "conventionalcommits"
      }
    }],
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo 'VERSION=${nextRelease.version}' >> $GITHUB_ENV",
        "verifyReleaseCmd": "echo ${nextRelease.version} > .VERSION"
      }
    ]
  ]
}
